@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-size:25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    padding:5px;
}
.blue-underline{
    color:  blue;
    text-decoration: underline;
    border:2px;
    border-color: black;

}
.popup-container{
    width: 300px;
}
.empty-space{
    padding:20px;
}
.small-empty-space{
    padding-bottom: 5px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display:flex; 
    flex-direction:row;
}

.title{
    font-size:20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    padding: 5px;
}
.bigger-container{
    padding-left:100px;
}
.border{
    border: 2px solid;
}
.button-border{
    border:3px;
    background-color:#B8DBD9;
    padding:4px;
    border-radius: 7px;
    outline: #679436 solid 2px;
}
/* Pallet colors*/
.nav-background{
    background-color: #003459;
}
.secondary-color{ 
    background: linear-gradient(0deg, #F4F4F9,#B8DBD9 );
    height: 125vh;
    width: 100vw;

}
.page-background{
    background: linear-gradient(0deg, white,#fbf7f5);
}
.voting-page-background{
    background: linear-gradient(0deg, white,#fbf7f5 );
}

/*Specific page styles*/

.home-padding{
    padding:50px;
}
.homepage-container1{
    padding-left:50px;
    padding-right:600px;
    padding-top: 15px;
}
.homepage-container2{
    padding-left:250px;
    padding-right:50px;
    padding-top: 15px;

}
.homepage-container3{
    padding-left:200px;
    padding-right: 200px;
}


.votingPadding{
    padding-left:50px;
    padding-bottom: 10px;
    padding-right: 50px;
}
.voting-container{
    padding-left: 150px;
    padding-right:150px;
    padding-bottom: 200px;
}
.post-border{
    border: 2px solid black;
    padding:5px;
    background: #DEDEF8 ;
    border-radius: 7px;
}
.underline{
    border-bottom: 1px solid #888;
}
.event{
    padding:25px;
}
.events-container{
    padding-left:300px;
    padding-right:300px;
}